# Node
node_modules/
server/node_modules/
web/node_modules/
mobile/node_modules/

# Angular
web/.angular/

# React Native
mobile/.expo/

# Environment files
.env
server/.env
web/.env
mobile/.env

# Build output
dist/
web/dist/
server/dist/
mobile/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Misc
.idea/
.vscode/
