@import url('../style/colors.css');

.text {
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    
}

.button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: column;
    margin-left: 5px;
}

.icon {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    width: "100";
    height: "100";
}