@import url('../style/colors.css');


.text {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.qr-container {
  text-align: center;
  margin-top: 20px;
}

.qr-container svg {
  border: 3px solid #555;
  border-radius: 10px;
  padding: 8px;
  background-color: #fff;
}

/*
.text {
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    color: var(--text);
}
*/