@import url('../style/colors.css');

.console-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--background);
    height: 100vh;
    box-sizing: border-box;
}


.title {
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    color: var(--text);
}