@import url('../style/colors.css');

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--background);
    height: 100vh;
}
