@import url('../style/colors.css');

html, body {
    margin: 0;
    padding: 0;
    background-color: #000; /* optional, keeps consistent background */
  }
  
  * {
    box-sizing: border-box;
  }  

.app-container {
    min-height: 100vh;
    background: radial-gradient(circle at center, #111 0%, #000 100%);
    color: #fff;
    font-family: 'Press Start 2P', monospace;
  }
  
  nav {
    text-align: center;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  


/*
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--background);
    height: 100vh;
}
*/